configure
config.*
*.deps*
*.libs*
*.o
*.lo
*.la
*.pc
Makefile
Makefile.in
*moc*
INSTALL
.cproject
.project

mbxmlutils/aclocal.m4
mbxmlutils/autom4te.cache/
mbxmlutils/depcomp
mbxmlutils/install-sh
mbxmlutils/ltmain.sh
mbxmlutils/missing
mbxmlutils/doc/Doxyfile
mbxmlutils/libtool
mbxmlutils/mbxmlutils/.measurement.xml.isvalid
mbxmlutils/mbxmlutils/casadi_swig_octave.cc
mbxmlutils/mbxmlutils/mbxmlutilspp
mbxmlutils/mbxmlutils/physicalvariable.xsd
mbxmlutils/mbxmlutilshelper/mbxmlutilsvalidate
mbxmlutils/stamp-h1
mbxmlutils/xsd2html/mbxmlutils-xsd2html
openmbv/aclocal.m4
openmbv/autom4te.cache/
openmbv/depcomp
openmbv/install-sh
openmbv/ltmain.sh
openmbv/missing
openmbv/libtool
openmbv/openmbv/openmbv
openmbv/openmbv/openmbv.qrc.cc
openmbv/stamp-h1
openmbv/xmldoc/Doxyfile
openmbv/xmldoc/Makefile
openmbvcppinterface/doc/Doxyfile
openmbvcppinterface/libtool
openmbvcppinterface/stamp-h1
openmbvcppinterface/aclocal.m4
openmbvcppinterface/autom4te.cache/
openmbvcppinterface/depcomp
openmbvcppinterface/install-sh
openmbvcppinterface/ltmain.sh
openmbvcppinterface/missing
openmbvcppinterface/test-driver
openmbvcppinterface/swig/java/javatest.sh
openmbvcppinterface/swig/java/matlabtest.m
openmbvcppinterface/swig/octave/octavetest.m
openmbvcppinterface/swig/octave/octavetest.sh
openmbvcppinterface/swig/python/pythontest.py
openmbvcppinterface/swig/python/pythontest.sh
