[Desktop Entry]
Type=Application
Name=OpenMBV
Icon=mbsim-env.openmbv
Exec=@bindir@/openmbv --maximized %F
MimeType=application/vnd.mbsim-env.openmbv;
