[Desktop Entry]
Type=Application
Name=OpenMBV
Comment=Open Multi Body Visualization - 3D time dependent visualization
Icon=mbsim-env.openmbv
Exec=@bindir@/openmbv %F
Terminal=false
MimeType=application/vnd.mbsim-env.openmbv;
Categories=Science;ComputerScience;NumericalAnalysis;Physics;Math;Robotics;
