[Desktop Entry]
Type=Application
Name=OpenMBV
Comment=Open Multi Body Visualization - 3D time dependent visualization
Icon=mbsim-env.openmbv
IconWindows="@bindir@/openmbv.exe",0
Exec="@bindir@/openmbv" --CC %F
ExecWindows="@bindir@/openmbv.exe" --CC "%1"
Terminal=false
MimeType=application/vnd.mbsim-env.openmbv;
Categories=Science;ComputerScience;NumericalAnalysis;Physics;Math;Robotics;
